modules = ["nodejs-24", "python3", "python-3.11"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "gce"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "AI Training Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "AI Training Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "MODEL_API_PORT=9878 python3 artifacts/ai-training-server/server.py"
waitForPort = 9878

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/ai-dashboard run dev"
waitForPort = 20060

[workflows.workflow.metadata]
outputType = "webview"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
STORAGE_HTTP_URL = "https://5930b718-c9b4-48b9-a838-9e39a30ed4d8-00-22qt9tvbcozsn.spock.replit.dev/api/redis/instances/f26378c8b4faf9f237a0f816/exec"
STORAGE_BEARER_TOKEN = "4b1660b376e535a16ea7649db6c25c5fbec67995de0610ac9c529c722f4c4d8f"
STORAGE_INSTANCE = "max-booster-training"
